<h2 class="mt-4">Meus posts</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-dark" (click)="novoPost()">
                <i class="fa fa-plus"></i> Novo Post
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                        {{ mensagemSucesso }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                        {{ mensagemErro }}
                    </div>                
                </div>
            </div>         

            <table class="table table-condensed table-hover">
                <thead>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Data</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let post of posts">
                        <td>{{ post.id }}</td>
                        <td>{{ post.titulo }}</td>
                        <td>{{ post.data }}</td>
                        <td>
                            <button class="btn btn-primary mr-1" routerLink="/posts/view/{{ post.id }}">
                                <i class="fa fa-search-plus"></i>
                            </button>
                            <button class="btn btn-danger" (click)="preparaDelete(post)"
                              data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="postSelecionado">
                    Deseja realmente excluir o post ID {{ postSelecionado.id }}?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarPost()" data-dismiss="modal">Sim</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
